@font-face {
    font-family: 'Samarkan';
    src: url("media/SamarkanNormal-Gg5D.ttf") format('truetype');
}

.hometitle {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

#title {
    font-family: 'Samarkan';
    font-size: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.navbar-icon {
    margin-right: 10px;
    border-radius: 50%;
}

.navbar-icon img {
    width: 90px;
    /* main logo */
}

.navbar-options {
    margin-left: auto;
    list-style-type: none;
}

.navbar-options li {
    display: inline-block;
    margin-right: 10px;
}

.navbar-options li a {
    text-decoration: none;
    color: #333;
}

.container0 {
    align-items: center;
    justify-content: center;
    /*display: flex;
    align-items: center;*/
    background-color: rgba(0, 29, 49, 0.68);
}


/*.left-part {
    float: left;
}*/

.right-part {
    width: 60%;
    height: auto;
    /*float: right;
    border: 50px;*/
}

.right-part img {
    float: right;
    margin-left: auto;
    height: auto;
}

.bg-gray-200 {
    background-color: #E5E7EB;
}

.p-4 {
    padding: 1rem;
    margin: 0rem 3rem;
    background-color: rgb(218, 210, 210);
}

.gradient {
    background: linear-gradient(rgba(0, 29, 49, 0.68), #ffffff);
}

.container2 {
    align-items: center;
    justify-content: center;
    margin: 0rem 5rem;
    margin-top: 3rem;
    background: rgba(217, 217, 217, 0.30);
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.text {
    font-size: 20px;
    padding-left: 20px;
}